body {
    background: black;
    color: white;
    font-family: Arial;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: #222;
    padding: 30px;
    width: 300px;
}

.login-box input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: red;
    border: none;
    color: white;
}